.vscode/
.git/
.codelite/
.clang/
*.workspace
Misc/
BuildCount.txt
EveryEngineExecutable-?
EveryEngineExecutable-??
EveryEngineExecutable-???
EveryEngineExecutable-????
EveryEngineExecutable-?????
EveryEngineExecutable-??????
EveryEngineExecutable-???????